body {
  text-align: center;
  font-size: 30px;
}

#title {
  margin-top: 10px;
  font-size: 50px;
}

#tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 50vw;
  height: 50vh;

  margin: 0 auto;
}

button {
  border: 1px solid black;
  font-size: 30px;
}

.player1 {
  color: red;
}

.player2 {
  color: blue;
}

.clicked {
  pointer-events: none;
}
