@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: inherit;
  border: none;
}

header h1 {
  width: 100%;
  /* vh: 뷰포트 높이에 영향받는 단위값 */
  margin-top: 30vh;
  text-align: center;
}

main {
  text-align: center;
}
.btn {
  padding: 30px 0;
}
.btn #btn1 .img-scissor {
  width: 80px;
  height: 70px;
  cursor: pointer;
}
.btn #btn2 .img-rock {
  width: 57px;
  height: 57px;
  cursor: pointer;
}
.btn #btn3 .img-paper {
  width: 70px;
  height: 60px;
  cursor: pointer;
}

.result h4 {
  padding: 20px 0;
}
.result .info {
  display: inline-block;
}
.result .info > p,
span {
  float: left;
  text-align: center;
  padding: 10px;
}
